<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Views_Basicas_01"
        tools:targetApi="31">
        <activity
            android:name=".basicView8"
            android:exported="false"
            android:label="@string/title_activity_basic_view8"
            android:theme="@style/Theme.Views_Basicas_01.NoActionBar" />
        <activity
            android:name=".BasicViews7"
            android:exported="false" />
        <activity
            android:name=".BasicViews6"
            android:exported="false" />
        <activity
            android:name=".BasicViews5"
            android:exported="false" />
        <activity
            android:name=".BasicViews4"
            android:exported="false" />
        <activity
            android:name=".BasicViews3"
            android:exported="false" />
        <activity
            android:name=".BasicViews2"
            android:exported="false" />
        <activity
            android:name=".BasicViews1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Views_Basicas_01.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>